// VARIABLES

$background: dodgerblue;
$secondary: coral;
$secondaryLight: lightCoral;
$secondaryDark: #ee6a3a;
$white: white;
$black: black;
$wip: red;

html {
  font-size: 125%;
}

body {
  background: $background;
  min-height: 100vh;
  text-align: center;
  font-size: 1rem;
  position: relative;
  width: 100vw;
  letter-spacing: 0.05rem;
}

.workInProgress {
  font-size: 0.6rem;
  color: $white;
  background: $wip;
  padding: 5px 10px;
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 5px;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 0 $wip;
  }
  to {
    box-shadow: 0 0 10px $wip;
  }
}

.blockClicks {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10002; /* needs to be more than SweetAlert modal */
  display: none;
}

.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  position: relative;
}

h2 {
  font-size: 1.3rem;
}

h1:before {
  content: 'Click below to play';
  position: absolute;
  font-size: 0.6rem;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header h2 {
  flex: 1 0 auto;
}

.leaderboardButton {
  flex: 1 0 100%;
  margin: 0;
  color: $white;
  transition: all 0.2s linear;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.leaderboardButton:hover,
.leaderboardButton:focus {
  color: $secondary;
}

.leaderboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  cursor: default;
  display: none;
}

.leaderboardModal {
  background: $white;
  width: 600px;
  max-width: 80%;
  margin: 50px auto 0 auto;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}

.leaderboardModal h2 {
  margin: 10px 0;
  font-size: 1.3rem;
}

.leaderboardList {
  display: flex;
  justify-content: center;
}

.leaderboardColumn {
  flex: 0 1 auto;
  text-align: center;
}

.leaderboardColumn:first-of-type {
  text-align: left;
}

.leaderboardColumn h2 {
  font-size: 1rem;
  color: $background;
}

.leaderboardColumn p {
  border-bottom: 0.1px solid $secondaryLight;
}

.listNumber {
  color: $secondaryLight;
  margin-right: 10px;
  font-size: 80%;
}

.close {
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 2rem;
  color: lightgrey;
  transition: all 0.2s linear;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: $secondary;
}

.game {
  display: flex;
  width: 800px;
  height: 500px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 auto;
  cursor: url(/assets/hammer.png), auto;
}

.house {
  flex: 1 0 calc(100% / 3 - 20px);
  margin: 0 10px;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.house:after {
  content: '';
  display: block;
  background: url(/assets/whitehouse.png) center no-repeat;
  background-size: cover;
  position: absolute;
  width: 110%;
  height: 100px;
  bottom: 0;
  left: -10px;
  z-index: 2;
}

.trump {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  transition: all 0.2s linear;
  background-size: contain;
}

.trump:active {
  transform: scale(0.5);
}

.trump.trump1 {
  background: url(/assets/trump.png) center 20% no-repeat;
  background-size: contain;
}

.trump.trump2 {
  background: url(/assets/trump2.png) center 40% no-repeat;
  background-size: contain;
}

.trump.trump3 {
  background: url(/assets/trump3.png) center 40% no-repeat;
  background-size: contain;
}

.house.up .trump {
  top: 0;
}

.start {
  background: $white;
  flex: 1 0 auto;
  border: none;
  box-shadow: 5px 5px 0 $secondary;
  padding: 10px;
  margin: 35px 10px 20px 10px;
  transition: all 0.2s ease-out;
}

.start:hover,
.start:focus {
  box-shadow: none;
  background: $secondary;
  color: $black;
}

.start:active {
  transform: scale(0.9);
}

.score,
.countdown {
  color: $secondary;
}

.swal-button--confirm {
  background-color: $secondary;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button--confirm:not([disabled]):hover {
  background-color: $secondaryDark;
}

.swal-button--confirm:active,
.swal-button--confirm:focus {
  background-color: $secondaryDark;
}
